#container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 10vh 25vh repeat(6, 10vh);
    grid-template-areas:
        "menu header header history"
        "result result result result"
        "percent ce c delete"
        "inverse power root divide"
        "num7 num8 num9 multiply"
        "num4 num5 num6 substract"
        "num1 num2 num3 add"
        "negate num0 comma equal";
    background-color: #BFBFBF;
    border: 4px solid #C1BFC0;
    font-family: Arial, Helvetica, sans-serif;
}
.item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    background-color: #D9D9D9;
    border: 1px solid #BFBFBF;
}
.number {
    background-color: #F2F2F2;
    font-weight: bold;
    font-size: 20px;
}
#menu {
    grid-area: menu;
    justify-content: flex-start;
    padding-left: 20%;
    font-size: 30px;
    font-weight: 900px;
}
#header {
    grid-area: header;
    justify-content: flex-start;
    font-size: 25px;
    padding-top: 2%;
}
#history {
    grid-area: history;
    font-size: 30px;
    font-weight: bold;
    padding-top: 10%;
}
#result {
    grid-area: result;
    font-size: 50px;
    font-weight: 600;
    justify-content: flex-end;
    padding-right: 10%;
}
#percent {
    grid-area: percent;
}
#ce {
    grid-area: ce;
}
#c {
    grid-area: c;
}
#delete {
    grid-area: delete;
}
#inverse {
    grid-area: inverse;
}
#power {
    grid-area: power;
}
#root {
    grid-area: root;
}
#divide {
    grid-area: divide;
}
#num7 {
    grid-area: num7;
}
#num8 {
    grid-area: num8;
}
#num9 {
    grid-area: num9;
}
#multiply {
    grid-area: multiply;
}
#num4 {
    grid-area: num4;
}
#num5 {
    grid-area: num5;
}
#num6 {
    grid-area: num6;
}
#substract {
    grid-area: substract;
}
#num1 {
    grid-area: num1;
}
#num2 {
    grid-area: num2;
}
#num3 {
    grid-area: num3;
}
#add {
    grid-area: add;
}
#negate {
    grid-area: negate;
}
#num0 {
    grid-area: num0;
}
#comma {
    grid-area: comma;
}
#equal {
    grid-area: equal;
    background-color: #72A2C8;
}